<form class="form-horizontal" #f="ngForm" (ngSubmit)="login(f)" >
	<div class="form-group form-inline">
		<label for="inputUsername" class="col-2 control-label">Login</label>
		<div class="col-10">
			<input type="text" id="inputUsername" class="form-control" placeholder="Username"
			ngModel name="model.user" #model.user="ngModel">
		</div>
	</div>
	<div class="form-group form-inline">
		<label for="inputPassword" class="col-2 control-label">Password</label>
		<div class="col-10">
			<input type="password" class="form-control" id="inputPassword" placeholder="Password"
				   ngModel name="model.password" #model.password="ngModel">
		</div>
	</div>
	<div class="form-group form-inline">
		<div class="offset-2 col-10">
			<button type="submit" class="btn btn-default btn-outline-success">Login</button>
		</div>
	</div>
</form>

