<div class="search-wrapper container">
	<div class="row">
		<form class="form-inline col-10">
			<div class="form-group">
				<input
					type="search"
					class="form-control"
					placeholder="type name or date"
					ngModel name="searchValue" #searchValue="ngModel">
				<button
					class="btn btn-outline-primary"
					(click)="findCourse(searchValue.value)" type="button">
					Find
				</button>
			</div>
		</form>
		<div class="col-2">
			<!--will be maybe separate component-->
			<button class="btn btn-info btn-block" routerLink="/courses/new">Add course</button>
		</div>
	</div>
</div>
